@charset "utf-8";
*{
    margin:0;
    padding:0;
}
body{
    /* 统一项目的文字大小 */
    font-size:16px;
    font-family:"Microsoft YaHei";

}
ul,ol,li{
    /* 清除列表符号 */
    list-style:none;
}

a,u{
    /* 去掉下划线 */
    text-decoration:none;
}

i,em{
    /* 默认倾斜清除 */
    font-style:normal;
}

b,strong{
    /* 清除默认加粗 */
    font-weight:normal;
}
h1,h2,h3,h4,h5,h6{
    font-size:16px;
    font-weight:normal;
}

img{
    /* 边框清零 */
    border:none;
    /* 解决与父元素底部大概三像素距离的问题 */
    display:block;
}

input{
    outline:none;
}

/* 万能清除法 */
.clear:after{
    content:"";
    display:block;
    clear:both;
    height:0;
    overflow:hidden;
    visibility:hidden; 
 }